.peerfact-fakenews, .peerfact-fakenews > * {
	background: #FFCDD2 !important;
}
.peerfact-satire, .peerfact-satire > * {
	background: #FFF8B8 !important;
}

.peerfact-box {
	background: url(https://www.peerfact.xyz/img/favicon-32x32.png) no-repeat 10px 10px !important;
    font-size: 1.2em;
    padding: 8px 8px 8px 50px;
    box-sizing: border-box;
	border-bottom: solid 1px #e9ebee;
}
.peerfact-fakenews .peerfact-description {
	color: #F44336;
	font-weight: bold;
}
.peerfact-link-button {
	display: inline-block;
	margin-right: 10px;
}
