.peerfact-fakenews, .peerfact-fakenews > * {
	background: #FFCDD2 !important;
}

.peerfact-box {
	margin: 12px 12px -12px 12px;
	border-top: 1px solid #e5e5e5;
	text-align: right;
}
.peerfact-expand {
	padding: 6px 0;
	display: block;
}
.peerfact-details {
	display: none;
	text-align: left;
}
.peerfact-box-details-open.peerfact-box .peerfact-details {
	display: block;
}
.peerfact-box .peerfact-reason {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 7px 5px;
}
.peerfact-btn, .peerfact-auto-btn {
	box-sizing: border-box;
	display: inline-block;
	width: 33%;
	padding: 16px 0;
	text-align: center;
	border: solid 1px #333;
}
.peerfact-checkbox {
	display: block;
	margin: 10px 0;
}
.peerfact-checkbox input {
	cursor: pointer;
	margin-top: 1px;
}
.peerfact-footer {
	padding: 8px 0;
}
.peerfact-proof-error {
	color: red;
}
.peerfact-auto {
	margin-bottom: 40px;
}
